body {
	background: #ffffff;
}

.full {
  background: #ffffff url('../img/backgrounds/1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 2s ease-in;
}

.bganno {
	  font: 15px arial, sans-serif;
		position: fixed;
		color: white;
		bottom: 20px;
		right: 20px;
		z-index: -1;
		opacity: 0.5;
		transition-delay: 2s;
}

.notice {
  display:none;
  position:fixed;
  top:5%;
  left:5%;
  width:90%;
  height:90%;
  background:#2296cf;
	-webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
			-ms-border-radius: 10px;
			 -o-border-radius: 10px;
					border-radius: 10px;
  outline:10px solid @link;
	opacity: 0.85;
}

/*.notice > h1 {
  padding:30px 30px 10px 30px;
  color:#3F4040;
  font-size:150%;
}

.notice > p {
  padding-left:30px;
  font-size:150%;
  color:#3F4040;
}*/

.im {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.msg {
  display:none;
  position:fixed;
  top:5%;
  left:5%;
  width:90%;
  height:90%;
  background: #3EB890;
	-webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
			-ms-border-radius: 10px;
			 -o-border-radius: 10px;
					border-radius: 10px;
  outline:10px solid @link;
	/*opacity: 0.85;*/
}

.message > h1 {
  padding:30px 30px 10px 30px;
  color:#3F4040;
  font-size:150%;
}

.msg > p {
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	height: 400px;
	padding-left:400px;
  	color:#3F4040;
	font: 100px arial, sans-serif;
}

.messageim {
	float: left;
	position: absolute;
	top: 50%;
	left: 40px;
	border-radius: 25px;
	background: #ffffff;
	padding: 10px;
	height: 200px;
	margin-top: -125px; /* account for padding and border if not using box-sizing: border-box; */
}
